<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        
        <title>Documentation</title>

        <style type="text/css">
            body {
                font-family: sans-serif;
            }

            h1, h2, h3 {
                margin: 0;
            }

            label {
                font-weight: bold;
                display: inline-block;
                margin-right: 1em;
            }

            ul {
                list-style-type: none;
            }

            hr {
                border: 0;
                height: 1;
                color: #AAA;
            }

            .return pre, .params pre, .box-attribute pre {
                display: inline;
                min-width: 5em;
            }

            .example {
                background-color: #FFFFAA;
            }

            .description > * {
                display: inline-block;
            }

            .box-modules {
                position: fixed;
                right: 0;
                top: 0;
                font-size: 0.8em;
            }

            .box {
                border-radius: 1em;
                padding: 1em;
                margin-bottom: 0.5em;
            }

            .box-module {   background-color: #DDF; }
            .box-class {    background-color: #FDF; }
            .box-function { background-color: #DFF; }
        }
        </style>
    </head>

    <body>
        <div class="box box-modules">

            <h2>Modules:</h2>
            <ul>
            {{#each modules}}
                <li><a href="#{{{hash}}}">{{name}}</a></li>
            {{/each}}
            </ul>

        </div>

        {{#each modules}}
            {{> module}}
        {{/each}}

        </div>
    </body>
</html>
